/* for small screens */
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Pangolin');

body {
  /*background-image: url("./images/background-gold.jpg");
  background-size: 25%;*/
  /*background-repeat: no-repeat;
  background-color: black;*/
  background: #2a2a2a;
  font-family: 'Pangolin', cursive;
  }

  header {
    background-color: #474747;
    font-family: 'Pangolin', cursive;
  }

h2 {
  display: inline;
  font-weight: bold;
}

header p {
  display: inline;
}

  h2, h3, p, div {
    color: silver;
  }


.format {
  display: inline;
  font-style: italic;
  font-size: 12px;
}

h3, div {
  display: inline;
}

p {
  font-size: 12px;
}

.Grid {
  display: Flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Grid-button {
  flex: 0 0 95%;
  /*background-color: #FF695E;*/
  text-align: center;
  margin: 10px;
  background-color: #42FF78;
}

.Grid-container {
  flex: 0 0 95%;
  /*background-color: #FF695E;*/
  text-align: left;
  margin: 10px;
  padding: 2px;
  background-color: #474747;
}

button {
  flex: 0 0 95%;
  /*background-color: #FF695E;*/
  text-align: center;
  margin: 10px;
}

img {
  height: 120px;
  width: 80px;
  display: block;
}


/* for medium screens */

@media screen and (min-width:468px) {
  .Grid-button {
    flex: 0 0 30%;
    /*background-color: #FF695E;*/
    text-align: center;
    margin: 10px;
  }
  .Grid-container {
    flex: 0 0 85%;
    /*background-color: #FF695E;*/
    text-align: left;
    margin: 10px;
    padding: 10px;
  }
}


/* for large screens */

@media screen and (min-width:992px) {
  .Grid-button {
    flex: 0 0 13%;
    /*background-color: #FF695E;*/
    text-align: center;
    margin: 10px;
  }
  .Grid-container {
    flex: 0 0 75%;
    /*background-color: #FF695E;*/
    text-align: left;
    margin: 10px;
    padding: 10px;
  }
}
